<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Completion-Report</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"><body></body>
</head>

<body class="dark:bg-gray-900">

    <!-- Static Heading -->
<div class="w-[70%] mx-auto bg-white rounded-lg shadow-md overflow-hidden mt-10">
    <div class="bg-gray-800 text-white px-6 py-4">
      <h5 class="text-lg font-semibold text-center">Completion Report</h5>
    </div>
  </div>
  
  <!-- Loop through users or tasks -->
  
    <div class="w-[70%] mx-auto bg-white rounded-lg shadow-md overflow-hidden mt-6">
      <div class="p-6">
               
        <h5 class="text-lg mb-2 text-green-600"> {{ task.task.status }}</h5>
        
        <h5 class="text-xl font-bold mb-2">{{ task.title }}</h5>
        <h5 class="text-lg font-bold mb-2 uppercase">Assigned To : {{ task.task.assigned_to }}</h5>
        <h5 class="text-sm font-bold mb-2">Admin : {{ task.task.admin }}</h5>
        <h5 class="text-sm font-bold mb-2">created date : {{ task.task.created_at }}</h5>
        <h5 class="text-sm font-bold mb-2">Due Date : {{ task.task.due_date }}</h5>
        <h5 class="text-sm font-bold mb-2">Completed at : {{ task.completion_date }}</h5>
        <h5 class="text-sm font-bold mb-2">Worked Hrs : {{ task.worked_hours}}</h5>
        <h5 class="text-sm font-bold mb-2">Report : {{ task.completion_report}}</h5>

        
        
        <p class="text-gray-900 mb-4">
          {{ task.description }}
        </p>
    </div>


</body>
</html>